<div class="card" style="margin-top: 10px">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <td class="table-light text-center" style="vertical-align: middle;">
                                <span style="color:black; float:left">Court {{id==0 ? '' : id}}</span>
                                <span style="float:right"
                                    [ngClass]="{'busy': court.gameOn, 'free': !court.gameOn}">{{court.gameOn ? "BUSY" :
                                    "FREE"}}</span>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <td class="table-dark text-center" style="vertical-align: middle; font-size: small">
                                {{court.pair1[0].name + " / " + court.pair1[1].name}}</td>
                            <td class="col-2">
                                <div class="input-group" style="width: 50px">
                                    <input [(ngModel)]="p1Score" type="number" autocomplete="off" class="form-control"
                                        [readonly]="!court.gameOn" (keyup.enter)="end()"  (change)="updateP2Score()">
                                </div>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align: center; padding-bottom:10px">VS</div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <td class="table-dark text-center" style="vertical-align: middle; font-size: small">
                                {{court.pair2[0].name + " / " + court.pair2[1].name}}</td>
                            <td class="col-2">
                                <div class="input-group" style="width: 50px">
                                    <input [(ngModel)]="p2Score" type="number" autocomplete="off" class="form-control"
                                        [readonly]="!court.gameOn" (keyup.enter)="end()" (change)="updateP1Score()">
                                </div>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="#" class="btn btn-primary" (click)="suggest()" *ngIf="!court.gameOn">Suggest</a>
                <a href="#" class="btn btn-primary" (click)="end()" *ngIf="court.gameOn">End</a>
            </div>
        </div>
    </div>
</div>