<div class="card" style="margin-top: 10px">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <td class="table-light text-center" style="vertical-align: middle;">
                                <span style="color:black; float:left">Court {{id == 0 ? '' : id}}</span>
                                <span style="float:right"
                                    [ngClass]="{'busy': court.gameOn, 'free': !court.gameOn}">{{court.gameOn ? "BUSY" :
                                    "FREE"}}</span>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-dark">
                    <thead>
                        <tr *ngIf="!setPlayers || court.gameOn">
                            <td class="table-dark text-center" style="vertical-align: middle; font-size: small">
                                {{court.pair1[0].name + " / " + court.pair1[1].name}}</td>    
                            <td class="col-2">
                                <div class="input-group" style="width: 50px">
                                    <input [(ngModel)]="court.p1Score" type="number" autocomplete="off" class="form-control"
                                        [readonly]="!court.gameOn" (keyup.enter)="end()" (focus)="openP1ScoreModal()" (click)="openP1ScoreModal()">
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="setPlayers && !court.gameOn">
                            <td class="col-6 table-dark text-center" style="vertical-align: middle; font-size: small">
                                <select class="form-select form-select-sm" aria-label=".form-select-sm example" (change)="setPair1Player1($event.target)">
                                    <option>Select Player</option>
                                    <option *ngFor="let player of players" (value)="player">{{player.name}}</option>
                                </select>
                            </td>
                            <td class="col-6 table-dark text-center" style="vertical-align: middle; font-size: small">
                                <select class="form-select form-select-sm" aria-label=".form-select-sm example" (change)="setPair1Player2($event.target)">
                                    <option>Select Player</option>
                                    <option *ngFor="let player of players" (value)="player">{{player.name}}</option>
                                </select>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align: center; padding-bottom:10px">VS</div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-dark">
                    <thead>
                        <tr *ngIf="!setPlayers || court.gameOn">
                            <td class="table-dark text-center" style="vertical-align: middle; font-size: small">
                                {{court.pair2[0].name + " / " + court.pair2[1].name}}</td>
                            <td class="col-2">
                                <div class="input-group" style="width: 50px">
                                    <input [(ngModel)]="court.p2Score" type="number" autocomplete="off" class="form-control"
                                        [readonly]="!court.gameOn" (keyup.enter)="end()" (focus)="openP2ScoreModal()" (click)="openP2ScoreModal()">
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="setPlayers && !court.gameOn">
                            <td class="col-6 table-dark text-center" style="vertical-align: middle; font-size: small">
                                <select class="form-select form-select-sm" aria-label=".form-select-sm example" (change)="setPair2Player1($event.target)">
                                    <option>Select Player</option>
                                    <option *ngFor="let player of players" (value)="player">{{player.name}}</option>
                                </select>
                            </td>
                            <td class="col-6 table-dark text-center" style="vertical-align: middle; font-size: small">
                                <select class="form-select form-select-sm" aria-label=".form-select-sm example" (change)="setPair2Player2($event.target)">
                                    <option>Select Player</option>
                                    <option *ngFor="let player of players" (value)="player">{{player.name}}</option>
                                </select>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="row court-btns">
            <div class="col">
                <button type="button" class="btn btn-primary btn-success btn-margin" (click)="suggest()" *ngIf="!court.gameOn && !setPlayers && players.length >= 4">Suggest</button>
                <button type="button" class="btn btn-primary btn-secondary" (click)="manualPairing()" *ngIf="!court.gameOn && players.length >= 4 && !setPlayers">Set Pair</button>
                <button type="button" class="btn btn-primary btn-warning btn-margin" (click)="cancelPairing()" *ngIf="setPlayers">Cancel Pairing</button>
                <button type="button" class="btn btn-primary btn-success" (click)="beginGame()" *ngIf="!court.gameOn && setPlayers && pair1Player1Id > 0 && pair1Player2Id > 0 && pair2Player1Id > 0 && pair2Player2Id > 0">Begin Game</button>
                <button type="button" class="btn btn-primary btn-warning" (click)="cancelGame()" *ngIf="court.gameOn && court.p1Score == 0 && court.p2Score == 0">Cancel Game</button>
                <button type="button" class="btn btn-primary" (click)="end()" *ngIf="court.gameOn && (court.p1Score > 0 || court.p2Score > 0)">End Game</button>
                <button type="button" class="btn btn-primary btn-dark" (click)="removeCourt()" style="float:right" *ngIf="!court.gameOn && !setPlayers">Close Court</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" [id]="'p1ScoreModal' + court.id">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <span>{{"Court:" + court.id + " " + court.pair1[0].name + " / " + court.pair1[1].name}}</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeP1ScoreModal()"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-1" *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11,12]">
                            <button class="btn btn-primary" (click)="updateP2Score(number)" data-bs-dismiss="modal" data-bs-target="#p1ScoreModal">
                                {{number < 10 ? '0' + number : number }}
                            </button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-1" *ngFor="let number of [13,14,15,16,17,18,19,20,21,22,23,24]">
                            <button class="btn btn-primary" (click)="updateP2Score(number)" data-bs-dismiss="modal" data-bs-target="#p1ScoreModal">
                                {{number}}
                            </button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-1" *ngFor="let number of [25,26,27,28,29,30,31,32,33,34,35,36]">
                            <button class="btn btn-primary" (click)="updateP2Score(number)" data-bs-dismiss="modal" data-bs-target="#p1ScoreModal">
                                {{number}}
                            </button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-1" *ngFor="let number of [37,38,39,40,41,42,43,44,45,46,47,48]">
                            <button class="btn btn-primary" (click)="updateP2Score(number)" data-bs-dismiss="modal" (data-bs-target)="updateP1Score">
                                {{number}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" [id]="'p2ScoreModal' + court.id">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <span>{{"Court:" + court.id + " " + court.pair2[0].name + " / " + court.pair2[1].name}}</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeP2ScoreModal()"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-1" *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11,12]">
                            <button class="btn btn-primary" (click)="updateP1Score(number)" data-bs-dismiss="modal" data-bs-target="#p2ScoreModal">
                                {{number < 10 ? '0' + number : number }}
                            </button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-1" *ngFor="let number of [13,14,15,16,17,18,19,20,21,22,23,24]">
                            <button class="btn btn-primary" (click)="updateP1Score(number)" data-bs-dismiss="modal" data-bs-target="#p2ScoreModal">
                                {{number}}
                            </button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-1" *ngFor="let number of [25,26,27,28,29,30,31,32,33,34,35,36]">
                            <button class="btn btn-primary" (click)="updateP1Score(number)" data-bs-dismiss="modal" data-bs-target="#p2ScoreModal">
                                {{number}}
                            </button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-1" *ngFor="let number of [37,38,39,40,41,42,43,44,45,46,47,48]">
                            <button class="btn btn-primary" (click)="updateP1Score(number)" data-bs-dismiss="modal" data-bs-target="#p2ScoreModal">
                                {{number}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>