<div class="row" style=>
  <div class="col-2">
    <form (ngSubmit)="add()" [formGroup]="playerForm">
      <div class="input-group">
        <div class="mb-3" style="margin-left: 10px;">
          <label for="addPlayer" class="form-label">Add Player</label>
          <input id="addPlayer" formControlName="name" type="text" class="form-control form-control-lg"
            autocomplete="off" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"
            (keyup.enter)="add()">
        </div>
      </div>
    </form>
  </div>
  <div class="col-10">
    <button type="button" class="btn btn-rounded btn-dark rounded-pill btn-sm" *ngFor="let player of players" style="margin-right: 10px; margin-top:10px">
      {{player.name}} <i class="bi bi-x-circle-fill" (click)="remove(player.id)"></i>
    </button>
  </div>
</div>