<div class="row" *ngIf="!displayArea">
  <div class="col-12">
    <form (ngSubmit)="add()" [formGroup]="playerForm">
      <div class="input-group">
        <div class="mb-3" style="margin-left: 10px;">
          <label for="addPlayer" class="form-label">Add Player</label>
          <input id="addPlayer" formControlName="name" type="text" class="form-control form-control-lg"
            autocomplete="off" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"
            (keyup.enter)="add()">
        </div>
      </div>
    </form>
  </div>
</div>

<div style="margin:0px 10px 0px 10px">
  <div class="accordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button">
          {{displayArea ? "Waiting" : "Available"}}
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <button type="button" class="btn btn-success btn-rounded rounded-pill btn-sm" *ngFor="let player of players" style="margin:10px 10px 0px 0px">
            <i class="bi bi-pause-circle-fill" (click)="rest(player.id)"></i> {{player.name}} <span class="badge rounded-pill bg-secondary">{{player.previousPairs.length}}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin:20px 10px 0px 10px" *ngIf="!displayArea">
  <div class="accordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          Resting/Unavailable
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <button type="button" class="btn btn-secondary btn-rounded rounded-pill btn-sm" *ngFor="let player of restingPlayers" style="margin-right: 10px;">
            <i class="bi bi-play-circle-fill" (click)="play(player.id)"></i> {{player.name}} <i class="bi bi-x-circle-fill" (click)="remove(player.id)"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>